<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934609934159-db01aqfbiajmjheq5d3r17i4t1hqajph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934609934159-db01aqfbiajmjheq5d3r17i4t1hqajph</string>
	<key>API_KEY</key>
	<string>AIzaSyAgxRCusWzubQyjArlqj1WTuWMKM52oxQc</string>
	<key>GCM_SENDER_ID</key>
	<string>934609934159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berkaydisli.Cryptholic</string>
	<key>PROJECT_ID</key>
	<string>cryptholic-76c97</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptholic-76c97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934609934159:ios:3f2db48b64ce4dcfff973a</string>
</dict>
</plist>